ion-input {
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
width: 100%;
min-height: 95%;
display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
resize: none;
color:black;
}

#item1{
  height:70%;
}

#item2{
  height:30%;
  width:100%
}

form{
  width: 100%;
  color: black;
}